@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

:root {
    --primary-color: #f7f7f7;
    --main-bg-color: black;
    --terciary-color: rgba(169, 169, 169, 0.644);
    --main-font: 'Open Sans', sans-serif;
    --focus-border: orange;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: bold;
    background-color: var(--terciary-color);
    background-image: url(/img/Background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    margin: 0 auto;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 25%;
    background-color: var(--primary-color);
    box-shadow: 3px 3px 3px var(--main-bg-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container #header {
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    background-color: var(--main-bg-color);
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid var(--terciary-color);
}

#header h1 {
    font-size: 25px;
    font-family: 'Source Serif 4', sans-serif;
    color: var(--primary-color);
}

#container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 10px 0px 10px;
}

.formItems {
    padding: 5px;
    background-color: white;
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: bold;
}

main select {
    cursor: pointer;
}

.formItems:focus {
    border: 2px solid var(--focus-border);
    outline: none;
}

#bill {
    width: 70px;
}

#serviceQuality {
    width: 180px;
}

#people {
    width: 35px;
}

#buttonBox {
    margin: 15px auto 20px;
}

#calcButton {
    padding: 5px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--terciary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--main-bg-color);
    cursor: pointer;
}

#calcButton:hover {
    box-shadow: 3px 3px 5px var(--main-bg-color);
}

#calcButton:focus {
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    border: 2px solid var(--focus-border);
}

#totalTip {
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}