@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

:root {
    --primary-color: #f7f7f7;
    --main-bg-color: rgba(0, 00, 0, 0.7);
    --terciary-color: rgba(169, 169, 169, 0.644);
    --main-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: var(--main-font);
    font-weight: bold;
    background-color: var(--terciary-color);
    background-image: url(/img/Background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 25px;
    text-align: center;
    font-family: 'Source Serif 4', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font-size: 18px;
    text-transform: uppercase;
}

#container {
    height: 250px;
    width: 250px;
    margin: 80px auto 100px;
    padding: 30px 20px 90px 20px;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
}

#container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formItems {
    padding: 5px;
    background-color: white;
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: bold;
}

.formItems:focus {
    border: 2px solid orange;
    outline: none;
}

#bill {
    width: 70px;
}

#serviceQuality {
    width: 180px;
}

#people {
    width: 35px;
}

#buttonBox {
    margin: 15px auto 20px;
}

#submitButton {
    padding: 5px;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: rgb(0, 0, 0);
    border: 2px solid var(--terciary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

#totalTip {
    font-size: 18px;
    text-align: center;
}